node_modules/
*.code-workspace
config/
.vscode/
createMasterKey.js
master-key.txt
enableMongoEncryption.js
mongocryptd.pid
testScript.js
acorn-bot-313715-8cce0e8eb4e2.json
auth0test.js
checkISO8601.js